<strong>Olá, {{ name }}</strong>
<p>Um novo usuário acaba de se inscrever para o seu evento!</p>
<p>

  <strong>Criador do evento: </strong> {{ name }} <br />
  <strong>Título do evento: </strong> {{ title }} <br />
  <strong>Descrição do evento: </strong> {{ description }} <br />
  <strong>Local do evento: </strong> {{ location }} <br />
  <strong>Data/hora do evento: </strong> {{ date }} <br />
  <strong>Usuário inscrito: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <br />
</p>
